<!DOCTYPE html>
<html>
<head>
	<title>checkr</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'checkr', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div id="d_bloc_page">
		<section id="s_part1">
			<header id="header_part1">
				<div id="d_image_part1">
					<%= image_tag('checkr/logo.png')    %>
				</div>
				<nav id="n_nav1part1">
					<ul class="ulniv1">
						<li class="liniv1"><a href="https://checkr.com/product/">Product</a>
							<ul class="ulniv2">
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/product/">Overview</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/product/screenings/">Screenings</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/product/compliance/">Compliance</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/product/security/">Security</a></li>
							</ul>
						</li>
						<li class="liniv1"><a href="https://checkr.com/industries/">Industries</a>
							<ul class="ulniv2">
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/">Overview</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/contact-centers/">Contact Centers</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/financial-services/">Financial Services</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/retail-hospitality/">Retail &#038; Hospitality</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/healthcare/">Healthcare</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/nonprofit/">Non Profit</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/staffing/">Staffing</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/on-demand-economy/">On-Demand Economy</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/manufacturing/">Manufacturing</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/software-and-technology/">Software &#038; Technology</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/small-business/">Small Business</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/industries/p2p-marketplaces/">P2P Marketplaces</a></li>
							</ul>
						</li>
						<li class="liniv1"><a href="https://checkr.com/resources/">Resources</a>
							<ul class="ulniv2">
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/resources/">Overview</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/resources/white-papers/">Guides &#038; White Papers</a></li>
								<li class="liniv2"><a class="a_niv2" href="https://checkr.com/resources/faq/">FAQ</a></li>
							</ul>
						</li>
					</ul>

				</nav>
				<div id="d_login_get-started">
					<div id="d_login">
						LOG IN
					</div>
					<div class="get-started">
						<a href="https://checkr.com/contact-us/">GET STARTED</a>					
					</div>					
				</div>
			</header>
			<div id="d_bloc_part1">
				<div id="d_text_part1">
					<h1>HIRE GREAT PEOPLE. FASTER.</h1>


					<p>Checkr provides&nbsp;modern and compliant background checks for global enterprises and startups.</p>

					<p>EXPLORE NOW</p>
				</div>
				<div id="d_video_part1">
					<video src="https://checkr.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" autoplay="true" preload="auto" loop="true" poster="checkr/Checkr_Hero_poster.png">
					</video>
				</div>
			</div>
		</section>
		<!-- ****************************************************************************************** -->
		<!-- ****************************************************************************************** -->
		<!-- ****************************************************************************************** -->
		<!-- ****************************************************************************************** -->
		<section id="s_part2">
			<h3>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h3>
			<div id="d_part2">
				<div id="d_image1_part2">
					<%= image_tag('checkr/instacart-logo@2x.png',class:"d_img_part2")%>
				</div>	
				<div id="d_image2_part2">
					<%= image_tag('checkr/logo_grubhub_update.gif',class:"d_img_part2")%>
				</div>	
				<div id="d_image3_part2">
					<%= image_tag('checkr/Uber_white_2@2x.jpeg',class:"d_img_part2")%>
				</div>	
				<div id="d_image4_part2">
					<%= image_tag('checkr/postmates_logo_s-1.png',class:"d_img_part2")%>
				</div>	
				<div id="d_image5_part2">
					<%= image_tag('checkr/zenefits.gif',class:"d_img_part2")%>
				</div>	
				<div id="d_image6_part2">
					<%= image_tag('checkr/Handy@2x.jpg',class:"d_img_part2")%>
				</div>
			</div>	
		</section>
		<section id="s_part3">
			<h3>The Next Generation of Background Checks</h3>
			<div id="d_part3_cont_img">
				<div id="d_part3_bloc1" class="d_part3_bloc">
					<div class="d_part3_img">
						<%= image_tag("https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-mobile.svg" , class:"aligncenter")%>
					</div>
					<strong>Mobile-Friendly</strong>
					<p style="text-align: center;">Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
				</div>
				<div id="d_part3_bloc2" class="d_part3_bloc">
					<div class="d_part3_img">
						<%= image_tag("https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-computer_easy.svg" , class:"aligncenter")%>
					</div>
					<strong>Easy to Understand</strong>
					<p style="text-align: center;">Color-coded reports and an intuitive interface makes it possible to review information faster. 
						<a href="http://checkr.com/sample-report/" class="a_vert">See a sample employee background report.</a>
					</p>
				</div>
				<div id="d_part3_bloc3" class="d_part3_bloc">
					<div class="d_part3_img">
						<%= image_tag("https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-automation.svg" , class:"aligncenter")%>
					</div>
					<strong>Convenient Automation</strong>
					<p style="text-align: center;">Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
				</div>
				<div id="d_part3_bloc4" class="d_part3_bloc">
					<div class="d_part3_img">
						<%= image_tag("https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-communications.svg" , class:"aligncenter")%>
					</div>
					<strong>Simplified and Compliant Communication</strong>
					<p style="text-align: center;">Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
				</div>
				<div id="d_part3_bloc5" class="d_part3_bloc">
					<div class="d_part3_img">
						<%= image_tag("https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-analytics.svg" , class:"aligncenter")%>
					</div>
					<strong>Fast and Accurate</strong>
					<p style="text-align: center;">Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
				</div>
			</div>
			
		</section>
		<!-- ****************************************************************************************** -->
		<!-- ****************************************************************************************** -->
		<!-- ****************************************************************************************** -->
		<!-- ****************************************************************************************** -->
		<section d="s_part4">
			
		</section>
	</div>
</body>
</html>