<h1>Handle Google maps API by @Brice</h1>

<%= form_tag("/", method: "get" ) do %>
<%= text_field_tag( :latitude , nil, options={:class =>'field' , :placeholder => 'latitude numbers only'} )  %>
<%= text_field_tag( :longitude , nil, options={:class =>'field' , :placeholder => 'longitude numbers only'} )  %>
<%= text_field_tag( :message , nil,  options={:class =>'field', :placeholder => 'message short text only 20ch', :maxlength => 20} )  %>
<%= submit_tag("Mark!" , id:"submit") %>
<% end %>
<p> Vous avez rentré</p>
<%binding.pry%>
<p>Latitude : <%=@map.latitude%></p>
<div id="gmap"></div>

<%= javascript_include_tag "maps" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_api_key}&callback=myMap", :defer => "defer" , async: true %>

<!-- remplace le 
<script src="https://maps.googleapis.com/maps/api/js?key=<%=Figaro.env.google_api_key%>&callback=myMap" async defer></script>
-->